/* Reset CSS */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

input,
textarea,
button {
  border: 0;
  border-radius: 0;
  background-color: transparent;
  font-size: inherit;
  font-family: inherit;
  font-weight: inherit;
  outline: none;
  appearance: none;
  text-align: left;
}

input:hover,
input:active,
input:focus,
textarea:hover,
textarea:active,
textarea:focus,
button:hover,
button:active,
button:focus {
  outline: none;
}

/* Reset CSS */

/* PRIMARY STUFF */

@font-face {
  font-family: DeaconFlock;
  src: url(/assets/fonts/DeaconFlock.ttf);
}

* {
  margin: 0;
  padding: 0;
  user-select: none;
  box-sizing: border-box;
}

body {
  font-family: Arial, Helvetica, sans-serif;
  background: linear-gradient(90deg, hsla(0, 0%, 8%, 1) 0%, hsla(60, 17%, 14%, 1) 100%);
}

.container {
  display: grid;
  color: white;
  text-align: center;
  grid-template-columns: 0.25fr 1fr 1fr;
  grid-template-rows: 120px 1fr 50px; /* Updated line */
  grid-template-areas: 
    "header header header"
    "content content content"
    "footer footer footer";
}

/* HEADER STUFF */

.header {
  background: linear-gradient(90deg, #1f1f18 0%, rgba(255, 255, 255, 0) 100%);
  grid-area: header;
  font-family: 'DeaconFlock';
  align-items: center;
}

.header {
  display: grid;
  grid-template-columns: 1fr 1fr;
}

/* LOGO  */
.logo {
  justify-self: start;
  margin-left: 5%;
  font-size: 5rem;
}

.logo:hover {
  cursor: pointer;
  font-size: 5.5rem;
  text-shadow: rgba(0, 0, 0, 0.37) -8px 8px;
}

/* MENU  */
.menu ul,
.menu li {
  font-size: 16px;
  list-style-type: none;
}

.menu, .mobile-menu {
  align-self: center;
  grid-column: 2/3;
}

.menu ul {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}

.menu li {
  padding: 15px 10px 10px 10px;
}

.menu li:hover {
  cursor: pointer;
  font-size: 2.5rem;
  text-shadow: rgba(0, 0, 0, 0.37) -8px 8px 0 ;
}

.menu ul,
.menu li {
  list-style-type: none;
  font-size: 2rem;
  font-family: 'DeaconFlock';
}

.menu a, .mobile-menu a {
  text-decoration: none;
  color: inherit;
}

/* MOBILE */

.hamburger-icon {
  margin: auto 0;
  display: none;
  cursor: pointer
}

.hamburger-icon div {
  width: 35px;
  height: 3px;
  background-color: #f2f2f2;
  margin: 6px 0;
}

.open .bar1 {
  transform: rotate(-45deg) translate(-6px, 6px);
}

.open .bar2 {
  opacity: 0;
}

.open .bar3 {
  transform: rotate(45deg) translate(-6px, -8px);
}

.open .mobile-menu {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
}

.mobile-menu {
  display: none;
  position: absolute;
  top: 50px;
  left: 0;
  height: calc(100vh - 50px);
  width: 100%;
  background: #1f1f18;
  font-size: 30px;
}

.mobile-menu li {
  list-style-type: none;
  font-size: 20px;
  font-family: 'DeaconFlock';
}
@media only screen and (max-width: 750px) {
  .header nav {
    display: none;
  }

  .header .hamburger-icon {
    justify-self: flex-end;
    margin-right: 30px;
  }

  .hamburger-icon {
    display: block;
  }
}

/* MAIN CONTENT STUFF */

.main {
  grid-area: content;
  overflow-y: auto;
  
}

.main p {
  font-size: 18px;
  font-family: sans-serif;
  text-align: left;
  color: white;
}

/* MAIN CARDS */

.main_cards {
  display: grid;
  /* grid-template-columns: 1fr 1fr 1fr 1fr; */
  grid-auto-rows: 250px;
  grid-template-columns: repeat(auto-fit, min(250px, 1fr));
  gap: 10px;
  margin: 20px;
  grid-template-areas: 
    "card1 card2"
    "card1 card2"
    "card1 card3";
}

.main_cards .card {
  color: black;
  text-align: center;
  background: linear-gradient(135deg, rgba(255, 255, 255, 0.192), rgba(255, 255, 255, 0));
  height: 100%;
  border-radius: 20px;
  border: 1px solid rgba(255, 255, 255, 0.18);
  box-shadow: 0 8px 32px 0 rgba(0, 0, 0, 0.37);
  margin-bottom: 10px;
  cursor: pointer;

}

/* CARDS */

.card p {
  color: #f2f2f2;
  font-weight: normal;
  font-size: 14px;
  padding: 5px;
}

.card .title {
  font-size: 18px;
  text-align: center;
}

/* STYLING CARDS */

.card:nth-child(1) {
  grid-area: card1;
  overflow: hidden;
}

.card:nth-child(1) img {
  margin-top: 25px;
}

.card:nth-child(2) {
  grid-area: card2;
  display: flex;
  justify-content: center;
  align-items: center;
}

.card:nth-child(2) img {
  max-width: 80%;
}

.card:nth-child(3) {
  grid-area: card3;
  display: flex;
  justify-content: center;
  align-items: center;
}

.card:nth-child(3) img {
  max-width: 80%;
}

.card:nth-child(1):hover {
  background: linear-gradient(135deg, rgba(255, 255, 255, 0.199), rgba(255, 255, 255, 0.116));
}

.card:nth-child(2):hover {
  background: linear-gradient(135deg, rgba(255, 255, 255, 0.199), rgba(255, 255, 255, 0.116));
}

.card:nth-child(3):hover {
  background: linear-gradient(135deg, rgba(255, 255, 255, 0.199), rgba(255, 255, 255, 0.116));
}

/* FOOTER STUFF */

.footer {
  background: linear-gradient(90deg, rgb(36, 36, 28) 0%, rgba(255, 255, 255, 0) 100%);
  flex-direction: column;
  grid-area: footer;
  display: flex;
  justify-content: center;
}

.footer p {
  font-size: 13px;
  font-weight: normal;
}

/* PHONE AND SMALL SCREEN WEB MAGIC */

@media (max-width: 1350px) {
  .main_cards {
    display: grid;
    grid-auto-rows: 250px;
    grid-template-columns: repeat(auto-fit, min(250px, 1fr));
    gap: 10px;
    margin: 20px;
    grid-template-areas: none;
  }

  .card:nth-child(1) {
    grid-row: 1/4;
    grid-column: 1/3;
  }

  .card:nth-child(1) img {
    width: 80%;
  }
  
  .card:nth-child(2) {
    grid-row: 1/3;
    grid-column: 3/5;
  }

  .card:nth-child(2) img {
    width: 80%;
  }

  .card:nth-child(3) {
    grid-column: 3/5;
    grid-row: 3/4;
  }
}

@media (max-width: 750px) {
  .main_cards {
    display: grid;
    grid-auto-rows: 200px;
    grid-template-columns: repeat(auto-fit, min(50px, 1fr));
    gap: 10px;
    margin: 20px;
    grid-template-areas: none;
  }

  .card:nth-child(1) {
    grid-row: 1/4;
    grid-column: 1/3;
  }

  .card:nth-child(1) img {
    width: 80%;
  }
  
  .card:nth-child(2) {
    grid-row: 4/6;
    grid-column: 1/3;
  }

  .card:nth-child(2) img {
    width: 80%;
  }
  
  .card:nth-child(3) {
    grid-row: 6/8;
    grid-column: 1/3;
  }

  .header {
    grid-template-columns: 0.5fr 1fr;
  }

  .header ul li {
    font-size: 1.8rem;
    margin: 15px;
  }

  .logo {
    font-size: 3.25rem;
  }

  .logo:hover {
    font-size: 3.4rem;
  }

  .container {
    grid-template-rows: 50px 1fr 50px;
  }

  .menu li {
    display: inline-block;
    background: linear-gradient(135deg, rgba(255, 255, 255, 0.062), rgba(255, 255, 255, 0));
    border: 1px solid #FFFFFF;
    border-radius: 10px;
    padding: 10px 4px 5px 4px;
    box-shadow: 0 8px 32px 0 rgba(0, 0, 0, 0.37);
  }

  .menu ul {
    align-items: center;
  }
}